.dark {
  --theme-positive-absolute: #ffffff;
  --theme-positive-primary: #fffffff0;
  --theme-positive-secondary: #ffffffa6;
  --theme-positive-tertiary: #ffffff59;
  --theme-positive-quaternary: #ffffff33;
  --theme-positive-background: #ffffff1a;
  --theme-negative-absolute: #000000;
  --theme-negative-primary: #1f1f1f;
  --theme-negative-secondary: #1f1f1fbf;
  --theme-negative-tertiary: #1f1f1f59;
  --theme-negative-quaternary: #1f1f1f1f;
  --theme-negative-background: #1f1f1f0d;
  --theme-accent-primary: #3e85ff;
  --theme-accent-hover: #196eff;
  --theme-accent-presed: #75a8ff;
  --theme-accent-opacity-50: #3e85ff80;
  --theme-accent-opacity-30: #3e85ff4d;
  --theme-accent-opacity-10: #3e85ff1a;
  --theme-info-primary: #3e85ff;
  --theme-info-hover: #196eff;
  --theme-info-presed: #75a8ff;
  --theme-info-opacity-50: #3e85ff80;
  --theme-info-opacity-30: #3e85ff4d;
  --theme-info-opacity-10: #3e85ff1a;
  --theme-success-primary: #57a977;
  --theme-success-hover: #37995d;
  --theme-success-presed: #87c29e;
  --theme-success-opacity-50: #57a97780;
  --theme-success-opacity-30: #57a9774d;
  --theme-success-opacity-10: #57a9771a;
  --theme-warning-primary: #f0c229;
  --theme-warning-hover: #edb600;
  --theme-warning-presed: #f4d366;
  --theme-warning-opacity-50: #f0c22980;
  --theme-warning-opacity-30: #f0c2294d;
  --theme-warning-opacity-10: #f0c2291a;
  --theme-danger-primary: #e56565;
  --theme-danger-hover: #e04848;
  --theme-danger-presed: #ec9191;
  --theme-danger-opacity-50: #e5656580;
  --theme-danger-opacity-30: #e565654d;
  --theme-danger-opacity-10: #e565651a;
}