.global {
  --colors-white: #ffffff;
  --colors-black: #000000;
  --colors-gray-100: #f3f3f3;
  --colors-gray-200: #e2e2e2;
  --colors-gray-300: #cbcbcb;
  --colors-gray-400: #a9a9a9;
  --colors-gray-500: #868686;
  --colors-gray-600: #6f6f6f;
  --colors-gray-700: #545454;
  --colors-gray-800: #3a3a3a;
  --colors-gray-900: #282828;
  --colors-gray-1000: #1f1f1f;
  --colors-blue-100: #edf3ff;
  --colors-blue-200: #dae8ff;
  --colors-blue-300: #accbff;
  --colors-blue-400: #75a8ff;
  --colors-blue-500: #3e85ff;
  --colors-blue-600: #196eff;
  --colors-blue-700: #1354c2;
  --colors-blue-800: #0d3985;
  --colors-blue-900: #09285c;
  --colors-blue-1000: #071f47;
  --colors-teal-100: #edf7f6;
  --colors-teal-200: #d2ebe8;
  --colors-teal-300: #afdad5;
  --colors-teal-400: #79c2b9;
  --colors-teal-500: #44a99d;
  --colors-teal-600: #20998a;
  --colors-teal-700: #187469;
  --colors-teal-800: #115048;
  --colors-teal-900: #0c3732;
  --colors-teal-1000: #092b27;
  --colors-green-100: #eff7f2;
  --colors-green-200: #d7ebdf;
  --colors-green-300: #b7dac5;
  --colors-green-400: #87c29e;
  --colors-green-500: #57a977;
  --colors-green-600: #37995d;
  --colors-green-700: #2a7447;
  --colors-green-800: #1d5030;
  --colors-green-900: #143722;
  --colors-green-1000: #0f2b1a;
  --colors-yellow-100: #fef9eb;
  --colors-yellow-200: #fbf0cc;
  --colors-yellow-300: #f9e5a3;
  --colors-yellow-400: #f4d366;
  --colors-yellow-500: #f0c229;
  --colors-yellow-600: #edb600;
  --colors-yellow-700: #b48a00;
  --colors-yellow-800: #7b5f00;
  --colors-yellow-900: #554200;
  --colors-yellow-1000: #423300;
  --colors-orange-100: #fef5ed;
  --colors-orange-200: #fbe6d2;
  --colors-orange-300: #f9d1ae;
  --colors-orange-400: #f4b379;
  --colors-orange-500: #f09443;
  --colors-orange-600: #ed801f;
  --colors-orange-700: #b46118;
  --colors-orange-800: #7b4310;
  --colors-orange-900: #552e0b;
  --colors-orange-1000: #422409;
  --colors-red-100: #fdf0f0;
  --colors-red-200: #f9dada;
  --colors-red-300: #f4bdbd;
  --colors-red-400: #ec9191;
  --colors-red-500: #e56565;
  --colors-red-600: #e04848;
  --colors-red-700: #aa3737;
  --colors-red-800: #742525;
  --colors-red-900: #511a1a;
  --colors-red-1000: #3f1414;
  --colors-purple-100: #f5f2fc;
  --colors-purple-200: #e7def9;
  --colors-purple-300: #d3c3f3;
  --colors-purple-400: #b69bec;
  --colors-purple-500: #9974e4;
  --colors-purple-600: #8659df;
  --colors-purple-700: #6644a9;
  --colors-purple-800: #462e74;
  --colors-purple-900: #302050;
  --colors-purple-1000: #26193f;
  --sizing-10: 10px;
  --sizing-12: 12px;
  --sizing-14: 14px;
  --sizing-16: 16px;
  --sizing-24: 24px;
  --sizing-32: 32px;
  --sizing-64: 64px;
  --sizing-128: 128px;
  --sizing-256: 256px;
  --sizing-04: 4px;
  --sizing-06: 6px;
  --sizing-08: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-64: 64px;
  --spacing-128: 128px;
  --spacing-256: 256px;
  --spacing-04: 4px;
  --spacing-06: 6px;
  --spacing-08: 8px;
  --font-families-sans: Inter;
  --font-families-mono: Roboto Mono;
  --font-weights-regular: regular;
  --font-weights-medium: medium;
  --font-weights-semibold: semibold;
  --font-weights-bold: bold;
  --font-sizes-12: 12px;
  --font-sizes-14: 14px;
  --font-sizes-16: 16px;
  --font-sizes-20: 20px;
  --font-sizes-24: 24px;
  --font-sizes-32: 32px;
  --font-sizes-40: 40px;
  --font-sizes-56: 56px;
  --font-sizes-72: 72px;
  --font-sizes-96: 96px;
  --font-sizes-120: 120px;
  --line-heights-16: 16;
  --line-heights-20: 20;
  --line-heights-24: 24;
  --line-heights-28: 28;
  --line-heights-32: 32;
  --line-heights-40: 40;
  --line-heights-48: 48;
  --line-heights-64: 64;
  --line-heights-80: 80;
  --line-heights-104: 104;
  --line-heights-128: 128;
  --letter-spacing-0: 0;
  --letter-spacing-t128: -1.28;
  --letter-spacing-t104: -1.04;
  --letter-spacing-t080: -0.80;
  --letter-spacing-t064: -0.64;
  --letter-spacing-t048: -0.48;
  --letter-spacing-t024: -0.24;
  --letter-spacing-t016: -0.16;
  --letter-spacing-t008: -0.08;
  --letter-spacing-w008: 0.08;
  --letter-spacing-w016: 0.16;
  --paragraph-spacing-0: 0;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-none: 0px;
  --border-radius-01: 1px;
  --border-radius-02: 2px;
  --border-radius-03: 3px;
  --border-radius-04: 4px;
  --border-radius-06: 6px;
  --border-radius-08: 8px;
  --border-radius-full: 9999px;
}