.light {
  --theme-positive-absolute: #000000;
  --theme-positive-primary: #1f1f1f;
  --theme-positive-secondary: #1f1f1fbf;
  --theme-positive-tertiary: #1f1f1f59;
  --theme-positive-quaternary: #1f1f1f1f;
  --theme-positive-background: #1f1f1f0d;
  --theme-negative-absolute: #ffffff;
  --theme-negative-primary: #fffffff0;
  --theme-negative-secondary: #ffffffa6;
  --theme-negative-tertiary: #ffffff59;
  --theme-negative-quaternary: #ffffff33;
  --theme-negative-background: #ffffff1a;
  --theme-accent-primary: #196eff;
  --theme-accent-hover: #3e85ff;
  --theme-accent-presed: #1354c2;
  --theme-accent-opacity-50: #196eff80;
  --theme-accent-opacity-30: #196eff4d;
  --theme-accent-opacity-10: #196eff1a;
  --theme-info-primary: #196eff;
  --theme-info-hover: #3e85ff;
  --theme-info-presed: #1354c2;
  --theme-info-opacity-50: #196eff80;
  --theme-info-opacity-30: #196eff4d;
  --theme-info-opacity-10: #196eff1a;
  --theme-success-primary: #37995d;
  --theme-success-hover: #57a977;
  --theme-success-presed: #2a7447;
  --theme-success-opacity-50: #37995d80;
  --theme-success-opacity-30: #37995d4d;
  --theme-success-opacity-10: #37995d1a;
  --theme-warning-primary: #edb600;
  --theme-warning-hover: #f0c229;
  --theme-warning-presed: #b48a00;
  --theme-warning-opacity-50: #edb60080;
  --theme-warning-opacity-30: #edb6004d;
  --theme-warning-opacity-10: #edb6001a;
  --theme-danger-primary: #e04848;
  --theme-danger-hover: #e56565;
  --theme-danger-presed: #aa3737;
  --theme-danger-opacity-50: #e0484880;
  --theme-danger-opacity-30: #e048484d;
  --theme-danger-opacity-10: #e048481a;
}