.typography-default {
  --theme-heading-12-font-family: Inter;
  --theme-heading-12-font-size: 12;
  --theme-heading-12-font-weight: 600;
  --theme-heading-12-line-height: 16;
  --theme-heading-12-letter-spacing: 0.16;
  --theme-heading-12-paragraph-spacing: 0;
  --theme-heading-14-font-family: Inter;
  --theme-heading-14-font-size: 14;
  --theme-heading-14-font-weight: 600;
  --theme-heading-14-line-height: 20;
  --theme-heading-14-letter-spacing: 0.08;
  --theme-heading-14-paragraph-spacing: 0;
  --theme-heading-16-font-family: Inter;
  --theme-heading-16-font-size: 16;
  --theme-heading-16-font-weight: 600;
  --theme-heading-16-line-height: 24;
  --theme-heading-16-letter-spacing: 0;
  --theme-heading-16-paragraph-spacing: 0;
  --theme-heading-20-font-family: Inter;
  --theme-heading-20-font-size: 20;
  --theme-heading-20-font-weight: 600;
  --theme-heading-20-line-height: 28;
  --theme-heading-20-letter-spacing: -0.08;
  --theme-heading-20-paragraph-spacing: 0;
  --theme-heading-24-font-family: Inter;
  --theme-heading-24-font-size: 24;
  --theme-heading-24-font-weight: 600;
  --theme-heading-24-line-height: 32;
  --theme-heading-24-letter-spacing: -0.16;
  --theme-heading-24-paragraph-spacing: 0;
  --theme-heading-32-font-family: Inter;
  --theme-heading-32-font-size: 32;
  --theme-heading-32-font-weight: 600;
  --theme-heading-32-line-height: 40;
  --theme-heading-32-letter-spacing: -0.24;
  --theme-heading-32-paragraph-spacing: 0;
  --theme-heading-40-font-family: Inter;
  --theme-heading-40-font-size: 40;
  --theme-heading-40-font-weight: 600;
  --theme-heading-40-line-height: 48;
  --theme-heading-40-letter-spacing: -0.48;
  --theme-heading-40-paragraph-spacing: 0;
  --theme-heading-56-font-family: Inter;
  --theme-heading-56-font-size: 56;
  --theme-heading-56-font-weight: 600;
  --theme-heading-56-line-height: 64;
  --theme-heading-56-letter-spacing: -0.64;
  --theme-heading-56-paragraph-spacing: 0;
  --theme-heading-72-font-family: Inter;
  --theme-heading-72-font-size: 72;
  --theme-heading-72-font-weight: 600;
  --theme-heading-72-line-height: 80;
  --theme-heading-72-letter-spacing: -0.8;
  --theme-heading-72-paragraph-spacing: 0;
  --theme-heading-96-font-family: Inter;
  --theme-heading-96-font-size: 96;
  --theme-heading-96-font-weight: 600;
  --theme-heading-96-line-height: 104;
  --theme-heading-96-letter-spacing: -1.04;
  --theme-heading-96-paragraph-spacing: 0;
  --theme-heading-120-font-family: Inter;
  --theme-heading-120-font-size: 120;
  --theme-heading-120-font-weight: 600;
  --theme-heading-120-line-height: 128;
  --theme-heading-120-letter-spacing: -1.28;
  --theme-heading-120-paragraph-spacing: 0;
  --theme-text-12-font-family: Inter;
  --theme-text-12-font-size: 12;
  --theme-text-12-font-weight: 400;
  --theme-text-12-line-height: 16;
  --theme-text-12-letter-spacing: 0.16;
  --theme-text-12-paragraph-spacing: 0;
  --theme-text-14-font-family: Inter;
  --theme-text-14-font-size: 14;
  --theme-text-14-font-weight: 400;
  --theme-text-14-line-height: 20;
  --theme-text-14-letter-spacing: 0.08;
  --theme-text-14-paragraph-spacing: 0;
  --theme-text-16-font-family: Inter;
  --theme-text-16-font-size: 16;
  --theme-text-16-font-weight: 400;
  --theme-text-16-line-height: 24;
  --theme-text-16-letter-spacing: 0;
  --theme-text-16-paragraph-spacing: 0;
  --theme-text-20-font-family: Inter;
  --theme-text-20-font-size: 20;
  --theme-text-20-font-weight: 400;
  --theme-text-20-line-height: 28;
  --theme-text-20-letter-spacing: -0.08;
  --theme-text-20-paragraph-spacing: 0;
  --theme-text-24-font-family: Inter;
  --theme-text-24-font-size: 24;
  --theme-text-24-font-weight: 400;
  --theme-text-24-line-height: 32;
  --theme-text-24-letter-spacing: -0.16;
  --theme-text-24-paragraph-spacing: 0;
  --theme-element-12-font-family: Inter;
  --theme-element-12-font-size: 12;
  --theme-element-12-font-weight: 500;
  --theme-element-12-line-height: 16;
  --theme-element-12-letter-spacing: 0.16;
  --theme-element-12-paragraph-spacing: 0;
  --theme-element-14-font-family: Inter;
  --theme-element-14-font-size: 14;
  --theme-element-14-font-weight: 500;
  --theme-element-14-line-height: 20;
  --theme-element-14-letter-spacing: 0.08;
  --theme-element-14-paragraph-spacing: 0;
  --theme-element-16-font-family: Inter;
  --theme-element-16-font-size: 16;
  --theme-element-16-font-weight: 500;
  --theme-element-16-line-height: 24;
  --theme-element-16-letter-spacing: 0;
  --theme-element-16-paragraph-spacing: 0;
  --theme-code-12-font-family: Roboto Mono;
  --theme-code-12-font-size: 12;
  --theme-code-12-font-weight: 400;
  --theme-code-12-line-height: 16;
  --theme-code-12-letter-spacing: 0.16;
  --theme-code-12-paragraph-spacing: 0;
  --theme-code-14-font-family: Roboto Mono;
  --theme-code-14-font-size: 14;
  --theme-code-14-font-weight: 400;
  --theme-code-14-line-height: 20;
  --theme-code-14-letter-spacing: 0.08;
  --theme-code-14-paragraph-spacing: 0;
  --theme-code-16-font-family: Roboto Mono;
  --theme-code-16-font-size: 16;
  --theme-code-16-font-weight: 400;
  --theme-code-16-line-height: 24;
  --theme-code-16-letter-spacing: 0;
  --theme-code-16-paragraph-spacing: 0;
  --theme-code-20-font-family: Roboto Mono;
  --theme-code-20-font-size: 20;
  --theme-code-20-font-weight: 400;
  --theme-code-20-line-height: 28;
  --theme-code-20-letter-spacing: -0.08;
  --theme-code-20-paragraph-spacing: 0;
  --theme-code-24-font-family: Roboto Mono;
  --theme-code-24-font-size: 24;
  --theme-code-24-font-weight: 400;
  --theme-code-24-line-height: 32;
  --theme-code-24-letter-spacing: -0.16;
  --theme-code-24-paragraph-spacing: 0;
  --theme-token-12-font-family: Roboto Mono;
  --theme-token-12-font-size: 12;
  --theme-token-12-font-weight: 700;
  --theme-token-12-line-height: 16;
  --theme-token-12-letter-spacing: 0.16;
  --theme-token-12-paragraph-spacing: 0;
  --theme-token-14-font-family: Roboto Mono;
  --theme-token-14-font-size: 14;
  --theme-token-14-font-weight: 700;
  --theme-token-14-line-height: 20;
  --theme-token-14-letter-spacing: 0.08;
  --theme-token-14-paragraph-spacing: 0;
  --theme-token-16-font-family: Roboto Mono;
  --theme-token-16-font-size: 16;
  --theme-token-16-font-weight: 700;
  --theme-token-16-line-height: 24;
  --theme-token-16-letter-spacing: 0;
  --theme-token-16-paragraph-spacing: 0;
}